* {
   margin: 0;
   padding: 0;
}
body {
   background-color: #b0b0b0;
   display:flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.cabecera {
   border: 1px solid;
   border-color: black;
   background-color: #02182B;
   padding-left: 1vw;
   padding-right: 1vw;
   padding-top: 1vh;
   padding-bottom: 1vh;
   align-items: center;
   display: flex;
   flex-direction: row;
   justify-content:space-between;
   
}
#titulo {
   font-size: 3vw;
   margin-left: 5vw;
   font-family: 'Kanit', sans-serif;
   text-align: center;
   color: #D7263D;
}
#logo {
   display: flex;
   flex-direction: column;
   width: 30%;
}
.bloque1 {
   background-color: #B2BCAA;
   display:flex;
   justify-content:space-between;
   flex-direction: row;
   width: 100vw;
   
}
.navegacion {
   margin-left: 2px;
   margin-top: 1vh;
   display: flex;
   flex-direction: column;
   width: 15vw;
   
}

.boton{
   font-weight: bold;
   width: 15vw;
   font-family: 'Marhey', cursive;
   margin-top: 1px;
   margin-left: 2vw;
   border: 1px solid;
   border-radius: 5px;
   border-color: black;
   align-content: center;
   padding-top: 5px;
   padding-bottom: 5px;
   text-align: center;
   background-color: #C9CEBD;
}
.boton:hover {
   background-color: #C2AFF0;
}
section {
   margin-top: 1vh;
   margin-right: 3vw;
   padding-top: 5vh;
   padding-bottom: 5vh;
   background-color: #C9CEBD;
   border: 1px solid;
   border-radius: 5px;
   width: 77vw;
}
.scroll{
   overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
}

.textomain {
   font-family: 'Sono', sans-serif;
   font-size: 16px;
   text-justify: auto;
   padding-bottom: 1vw;
   padding-left: 1vw;
   padding-right: 1vw;
   padding-top: 1vw;
   border: 1px solid;
   border-radius: 5px;
   border-color: black;
}

h2 {
   font-size: 20px;
}

footer {
   margin-top: 20px;
   display:flex;
   justify-content:center;
   flex-direction: row;
   width:90vw;
}

.imgart {
   margin-top: 5px;
   width: 30vh;
}
.divimgart {
   display: flex;
   align-content: center;
   align-items: center;
   flex-direction: column;
}
.contenidoart {
   margin-left: 3vw;
   margin-right: 3vw;
}

a:link {
   color: black;
   background-color: transparent;
   text-decoration: none;
}

a:visited {
   color: black;
   background-color: transparent;
   text-decoration: none;
}
   
a:hover {
   color: black;
   background-color: transparent;
   text-decoration: none;
}
   
a:active {
   color: black;
   background-color: transparent;
   text-decoration: none;
}


