* {
   margin: 0;
   padding: 0;
}

body {
   background-color: #b0b0b0;
  
}

.cabecera {
   
   background-color: #02182B;
   padding-top: 1vh;
   padding-bottom: 1vh;
   align-items: center;
   display: flex;
   flex-direction: row;
   justify-content:space-around;
   
   
}

#titulo {
  
   font-size: 3vw;
   font-family: 'Kanit', sans-serif;
   text-align: center;
   color: #D7263D;
}

#logo {
   display: flex;
   flex-direction: column;
   width: 30vw;
}


.bloque1 {
   background-color: #B2BCAA;
   display:flex;
   justify-content:space-around;
   flex-direction: row;
   
  
   
}

.navegacion {
   margin-top: 1vh;
   display: flex;
   flex-direction: column;
   
}

.cajaboton {
   display:flex;
   flex-direction: column;
   margin-top: 0.5vh;
   width: 10vw;
   background-color: #C9CEBD;
   border: 1px solid;
   border-radius: 5px;
   border-color: black;
   padding-top: 5px;
   padding-bottom: 5px;
   align-content: center;
}

.boton{
   font-weight: bold;
   font-family: 'Marhey', cursive;
   margin-top: 1px;
   text-align: center;
}

.cajaboton:hover {
   background-color: #C2AFF0;
}

.sectionppal {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 1vh;
   background-color: #C9CEBD;
   border: 1px solid;
   border-radius: 5px;
   width: 65vw;
   
}

.contenidoart {
   margin-top: 2vh;
   margin-bottom: 2vh;
   
}


.contenidoarthowto {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   margin-top: 1vh;
   background-color: #C9CEBD;
   border: 1px solid;
   border-radius: 5px;
   width: 65vw;
}
.howtopad {
   padding-left: 3vw;
   padding-right: 3vw;
}

.contenidoartppal {
   margin-top: 2vh;
   margin-bottom: 2vh;
   
}
.flexppal{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}

.imgppal {
   height: 30vh;
}

.clasescontent{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   margin-top: 1vh;
   background-color: #C9CEBD;
   border: 1px solid;
   border-radius: 5px;
   width: 65vw;
}

table {
   border:1px solid black;
   margin-top: 1vh;
   margin-bottom: 1vh;
   border-spacing: 0ch;
   font-family: 'Montserrat', sans-serif;
   }
   
tr td {
      border:1px solid black;
      padding-top: 0.5vh;
      height: 5vh;
      text-align: center;
}
   
th.titulillotabla {
      
      
      background-color: rgb(51, 51, 51);
      color:#c93c4f;
      font-size: 4ch;
      text-transform: uppercase;
      letter-spacing: 2ch;
   }
   
.subtitulillo td {
     background-color: #af402d;
     height: 25pt;
     text-align: center;
}

.infoclase {
   text-align: justify;
   padding-left: 1vw;
   padding-right: 1vw;
   padding-bottom: 0.5vh;
   width: 30vw;
}


.formflex {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}

.formimg {
   height: 50vh;
}

.imghowto01{
   height: 30vh;
   padding-top: 2vh;
   margin-bottom: 5vh;
   border-radius: 5px;
   text-align: center;
}
.imghowto02div{
   padding-top: 2vh;
   display:flex;
   flex-direction: row;
   margin-bottom: 5vh;
}
.imghowto02{
   padding-top: 2vh;
   padding-left: 1vw;
   height: 40vh;
   border-radius: 5px;
}

.imghowto03div{
   display:flex;
   flex-direction: row;
   margin-bottom: 3vh;
   
}
.imghowto03 {
   border-radius: 5px;
   height: 40vh;
   padding-left: 5vw;
   padding-right: 3vw;
}

.imghowto04div{
   margin-top: 3vh;
   display:flex;
   flex-direction: row;
   margin-bottom: 3vh;
}

.imghowto04 {
   border: 1px solid black;
   border-radius: 5px;
   height: 40vh;
}

.imghowto05{
   height: 15vh;
   padding-top: 2vh;
   padding-bottom: 5vh;
   border-radius: 5px;
   text-align: center;
}

.contenidoartppal{
   padding-bottom: 1vw;
   padding-left: 1vw;
   padding-right: 1vw;
   padding-top: 1vw;
}
.contenidoartmedia{
   width: 62vw;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content:space-around
}

.contenidoartimg {
   border: 1px solid;
   border-radius: 5px;
   border-color: black;
   margin-top: 6vh;
   margin-bottom: 6vh;

}


.artright {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 17vw;
   height: 47vh;
   margin-top: 1vh;
   background-color: #C9CEBD;
   border: 1px solid;
   border-radius: 5px;
}

iframe {
   padding-top: 1vh; 
   padding-bottom: 1vh;
  
}

.scroll {
   background-color: #d4d1d4;
   width: 50vw;
   height: 20vh;
   overflow-x: hidden;
   overflow-y: auto;
   text-align: center;
   margin-top: 1.5vh;
}
.scrollcenter{
   display: flex;
   justify-content: center;
   align-items: center;
}
.privacytext {
   text-align:justify;
}

.thumbnail{
   position: relative;
   z-index: 0;
   height: 10vh;
}
   
.thumbnail:hover{
   background-color: transparent;
   z-index: 50;
}
   
.thumbnail span{ /*CSS para la imagen agrandada */
   position:absolute;
   padding: 5px;
   border: 1px black;
   visibility: hidden;
   color: black;
   text-decoration: none;
}
   
.thumbnail span img{ /*CSS para la imagen agrandada */
   border-width: 0;
   padding: 2px;
   width: 30vw;
}
   
.thumbnail:hover span{ /*CSS para la imagen agrandada en hover*/
   visibility: visible;
   top: -50;
   left: 0; 
}

.textomain {
   font-family: 'Sono', sans-serif;
   font-size: 16px;
   text-justify: auto;
 
}
.camposform {
   margin-top: 3vh;
   margin-bottom: 3vh;
}

.acepto{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   margin-top: 1vh;
   margin-bottom: 1vh;
}
.texto {
   margin-top: 2vh;
   font-family: 'Sono', sans-serif;
   font-size: 16px;
   text-justify: auto;
   padding-left: 1vw;
   padding-right: 1vw;
}

.textoimg {
   font-family: 'Sono', sans-serif;
   font-size: 16px;
   text-justify: auto;
   padding-left: 1vw;
   padding-right: 1vw;
   text-align: center;
}

footer {
   margin-top: 20px;
   display:flex;
   justify-content:center;
   flex-direction: row;
   
}



a:link {
   color: black;
   font-weight: bold;
   background-color: transparent;
   text-decoration: none;
}

a:visited {
   color: black;
   background-color: transparent;
   text-decoration: none;
}
   
a:hover {
   color: black;
   background-color: transparent;
   text-decoration: none;
}
   
a:active {
   color: black;
   background-color: transparent;
   text-decoration: none;
}

@media screen and (max-width: 1919px) {
   .cabecera {
      background-color: aqua; 
   }
   .artright, .sectionright{
      display:none !important;
   }
   .bloque1 {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
   }
   .formflex {
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
   }

   .contenidoartppal, .sectionppal {
      width: 97vw;
      
   }
   
   .cajaboton,.navegacion,.boton{
      flex-direction: row;
      justify-content: center;
      width: 15vw;

   }

   
}

@media screen and (max-width: 720px) {
  

   .cabecera {
      background-color: green;
   }
   .howtopad {
      padding-left: 1vw;
      padding-right: 1vw;
   }

   .imghowto02div {
      flex-direction: column;
   }
   .imghowto02{
      height: 30vh;
   }
   
   
   .imghowto03 {

      display:none !important;
   }
   
   .imghowto04div {
      flex-direction: column;
   }
   
   .imghowto04 {
      display:none !important;
   }
   
   .imghowto05{
      height: 7vh;
   }
  
}

@media screen and (max-width: 480px) {
   .cabecera {
      flex-direction: column;
      background-color: red;
   }
   #titulo, #logo {
      font-size: 27px;
      width: 60vw;
   }
   .cajaboton,.navegacion,.boton,.bloque1 {
      flex-direction: column;
   }

   .contenidoarthowto, .contenidoartppal, .sectionppal,.cajaboton,.navegacion,.boton {
      width: 90vw;
   }
}







